#header {
	padding:1rem 0;
	// @include transition(all .3s ease);

	@media #{$breakpoint-md-up} {
		padding:2rem 0;
	}

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background-color: $white;

		& + #page-content {
			margin-top: 10rem;
		}

		&.shadow {
			@include box-shadow(0, 0, 2rem, rgba($black,0.1));
		}

		&.dark {
			color: $white;
			background-color: transparent;
			@include box-shadow(0, 0, 0rem, rgba($black,0));

			& + #page-content,
			& + #container {
				padding-top: 0rem;
				margin-top: 0;

				#hero {
					padding-top:4.5rem;
				}
			}


			#logo {
				a {
					img {
						margin-top: -1.5rem;

						@media #{$breakpoint-sm-up} {
							margin-top: -2rem;
						}
					}
				}
			}

			button#btn-nav-toggle {
				color: inherit;
			}
		}
	}
}

#logo {
	a {
		display: block;
		height: 1.5rem;
		overflow: hidden;
		
		@media #{$breakpoint-sm-up} {
			height: 2rem;
		}

		img {
			height: 200%;
			vertical-align: top;
		}
	}
}
