#nav-list {
	li {
		@media #{$breakpoint-xs-only} {
			display: block;
			width: 100%;
			// text-align: center;
		}
	}
}

a.nav-link {
	display: block;
	line-height: 1.5rem;
	padding:0.5rem 1rem;
	text-decoration: none;
	display: block;
	color: inherit;


	&:hover, &:focus {
		text-decoration: underline;
	}

	&.selected {
		color: $green;
		background-color: rgba($green,0.1);
		@include border-radius(2rem);
	}
}

ul#menu-main {
	li.current-menu-item {
		a:link,
		a:visited {
			color: $green;
			background-color: rgba($green,0.1);
			@include border-radius(2rem);

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
}

#nav-bar {
	text-align: right;
	display: none;

	@media #{$breakpoint-xs-only} {
		text-align: center;
		background-color: $white;
		@include border-radius(0.5rem);
		@include box-shadow($box-shadow-left, $box-shadow-top, $box-shadow-spread, $box-shadow-color);
		margin: 1rem auto;
		padding:2rem;
		width:calc(100vw - 2rem);
		position: absolute;
		z-index: 3;
		color: $black;


		.social-list {
			margin-top: 1rem;

			>ul {
				>li {
					display: inline-block;
					width: auto;
				}
			}
		}
	}
	
	@media #{$breakpoint-sm-up} {
		display: block !important;

		.social-list {

			>ul {
				>li {

					button.btn-default {
						color: inherit;

						.btn-icon,
						.btn-text {
							color: inherit;
						}
					}
				}
			}
		}
	}

}

.account-buttons {
	margin-left: 1rem;
	@media #{$breakpoint-xs-only, $breakpoint-sm-only, $breakpoint-md-only} {
		margin: 1rem 0;
	}
}