#hero,
.id-hero {
	background-color: $black;
	color: $white;
	position: relative;
	padding-top:4.5rem;

	.hero-text {
		padding:4rem 0;
		text-align: center;
		position: relative;
		z-index: 1;
		max-width: 48rem;
		margin:0 auto;



		@media #{$breakpoint-md-up} {
			padding:6rem 0;
		}

		.hero-title {
			line-height: 150%;

			span {
				color: $green;
			}
		}

		.hero-helper {
			margin-top: 2rem;
			font-size: 1.25rem;
			line-height: 150%;

			@media #{$breakpoint-md-up} {
				font-size: 1.5rem;
			}
		}

		.hero-button {
			margin-top: 2rem;
		} 
	}


	.hero-video {
	  	position: absolute;
	  	top: 0;
	  	bottom: 0;
	  	width: 100%;
	  	height: 100%; 
	  	overflow: hidden;
		@include opacity(0.4);
		max-width: 72rem;
		margin:0 auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

	  	video {
			min-width: 100%; 
			min-height: 100%; 
			width: auto;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}

	.hero-overlay {
		background: rgb(21,27,34);
		background: radial-gradient(circle, rgba(21,27,34,0) 0%, rgba(21,27,34,1) 100%);
	  	position: absolute;
	  	top: 0;
	  	bottom: 0;
	  	width: 100%;
	  	height: 100%; 
	  	overflow: hidden;
		max-width: 72rem;
		margin:0 auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.hero-swoosh {
		position: relative;
		z-index: 1;
		bottom:0px;
		overflow: hidden;
		text-align: center;

		img {
			display: block;
			vertical-align: bottom;
			width: 100%;
			
			@media #{$breakpoint-xs-only} {height: 2rem;}
			@media #{$breakpoint-sm-only} {height: 2rem;}
			@media #{$breakpoint-md-only} {height: 3rem;}
			@media #{$breakpoint-md-up} {height: 4rem;}
		}
	}

}


#impact,
.id-impact {
	padding: 2rem 0;

	.impact-container {
		position: relative;
		max-width: 16rem;
		margin:0 auto;
		
		@media #{$breakpoint-sm-up} {
			max-width: initial;
		}

		.impact-icon {
			font-size: 2.5rem;
			line-height: 2.5rem;
			color: $green;
			text-align: center;

			@media #{$breakpoint-sm-up} {
				font-size: 3rem;
				line-height: 3rem;
				position: absolute;
				left: 0;
				top: 0;
				text-align: left;
			}

			i {
				display: block;
			}
		}

		.impact-text {
			text-align: center;
			margin-top: 0.5rem;

			@media #{$breakpoint-sm-up} {
				margin-left: 4rem;
				text-align: left;
				margin-top: 0;
			}

			h3 {}

			p {
				margin-top: 0.5rem;
			}
		}
	}
}


#what-we-do,
.id-what-we-do {
	background-color: $black;
	color: $white;
	background-image: url('../images/bg-digital-wave.jpg');
	// background-image: url('images/bg-digital-wave.jpg');
	background-size: cover;

	.wwd-content {
		padding:6rem 0 4rem 0;
	}

	.wwd-swoosh-top {
		img {
			display: block;
			vertical-align: top;
			width: 100%;
			
			@media #{$breakpoint-xs-only} {height: 2rem;}
			@media #{$breakpoint-sm-only} {height: 2rem;}
			@media #{$breakpoint-md-only} {height: 3rem;}
			@media #{$breakpoint-md-up} {height: 4rem;}
		}
	}

	.wwd-swoosh-bottom {
		img {
			display: block;
			vertical-align: top;
			width: 100%;
			
			@media #{$breakpoint-xs-only} {height: 2rem;}
			@media #{$breakpoint-sm-only} {height: 2rem;}
			@media #{$breakpoint-md-only} {height: 3rem;}
			@media #{$breakpoint-md-up} {height: 4rem;}
		}
	}
}


#feature,
.id-feature {
	padding:4rem 0;

	.feature-container {
		position: relative;

			@media #{$breakpoint-sm-up} {
				padding-top:4rem;
			}

		.feature-image {
			position: relative;
			z-index: 0;
			left: 0;
			top: 0;
			bottom:0;
			right: 0;
			overflow: hidden;

			@media #{$breakpoint-sm-up} {
				position: absolute;
				width: calc((100% / 12) * 8);
			}

			img {
				width: 100%;
				vertical-align: bottom;
			}
		}

		.feature-text {
			position: relative;
			z-index: 1;
			background-color: $white;
			margin: -8rem 1rem 2rem;
			padding:2rem;

			@media #{$breakpoint-sm-up} {
				margin:0;
				padding:3rem;
				width: calc((100% / 12) * 8);
				margin-left: calc((100% / 12) * 4);
			}
		}

		.feature-item {
			h3 {

			}

			p {

			}
		}
	}
}

.center-mobile {
	@media #{$breakpoint-xs-only} {
		text-align: center;
	}
}



#solution,
.id-solution {
	position: relative;

	.solution-text {
		padding:0 0  4rem;
		text-align: center;
		position: relative;
		z-index: 1;
		// max-width: 64rem;
		margin:0 auto;

		@media #{$breakpoint-md-up} {
			padding:0 0 6rem;
		}

		.solution-title {
			line-height: 150%;

			span {
				color: $green;
			}
		}

		.solution-helper {
			// margin-top: 1rem;
			font-size: 1.0rem;
			line-height: 150%;
			margin:1rem auto;

			@media #{$breakpoint-md-up} {
				max-width: calc((100% / 12) * 8);
			}

			@media #{$breakpoint-md-up} {
				font-size: 1.125rem;
			}
		}

		.solution-sub-image {
			margin:2rem auto;
			max-width: 16rem;

			@media #{$breakpoint-md-up} {
				max-width: 20rem;
			}
			img {
				width: 100%;
			}
		}

		.solution-sub-title {
			margin-top: 1rem;
			font-size: 1.125rem;
			line-height: 150%;
			font-weight: 600;
			margin-bottom: 0.5rem;

			@media #{$breakpoint-md-up} {
				font-size: 1.25rem;
			}
		}

		.solution-sub-helper {
			margin:0 auto;

			@media #{$breakpoint-md-up} {
				max-width: calc((100% / 12) * 8);
			}
		}

	}



	.solution-swoosh {
		position: relative;
		z-index: 1;
		bottom:0px;
		overflow: hidden;
		text-align: center;

		@media #{$breakpoint-md-up} {
			bottom:-1px;
		}

		img {
			display: block;
			vertical-align: bottom;
			min-height: 4rem;
			object-position: center center;
			object-fit: cover;
			margin:0 auto;
			text-align: center;
		}
	}
}



#msa,
.id-msa {
	background-color: $black;
	color: $white;
	position: relative;
	background-image: url('../images/bg-msactivator.jpg');
	// background-image: url('images/bg-msactivator.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;

		@media #{$breakpoint-md-up} {
			background-position: left top;
			background-size: 960px;
		}

	.msa-swoosh {
		display: block;

		img {
			display: block;
			vertical-align: top;
			width: 100%;

			@media #{$breakpoint-xs-only} {height: 2rem;}
			@media #{$breakpoint-sm-only} {height: 2rem;}
			@media #{$breakpoint-md-only} {height: 3rem;}
			@media #{$breakpoint-md-up} {height: 4rem;}
		}
	}
	

	.msa-content {
		text-align: center;
		max-width: 30rem;
		margin: 0 auto;
		margin-top: 10rem;
		background-color: rgba($black,0.8);
		
		@media #{$breakpoint-sm-up} {
			margin-top: auto;
			padding:8rem  2rem;
			text-align: left;
			max-width: auto;
		}
	}

	.msa-logo {
		margin-bottom: 1rem;
	}

	.msa-text {
	}

	.msa-yingyang {
		width: 50%;
		display: block;
		position: absolute;
		left: 0%;
		bottom: 0;
		@include translate(0%,100%);
		// @include translate(-50%,0%);
		z-index: 1;

		img {
			vertical-align: bottom;
			display: block;
			position: relative;
			width: 100%;
		}

		&:before {
			content: '';
			position: absolute;
			height: 2px;
			background-color:$black;
			left: 0;
			top: -1px;
			right: 0;
			@include border-radii(0, 0, 2px, 0, );
		}
	}
}


#cc,
.id-cc {
	position: relative;
	background-image: url('../images/bg-cloudclapp.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;

		@media #{$breakpoint-md-up} {
			background-position: right top;
			background-size: 960px;
		}
	
	.cc-content {
		text-align: center;
		max-width: 30rem;
		margin: 0 auto;
		margin-top: 10rem;
		background-color: rgba($white,0.8);
		
		@media #{$breakpoint-sm-up} {
			margin-top: auto;
			padding:8rem 2rem;
			text-align: left;
			max-width: auto;
		}
	}

	.cc-logo {
		margin-bottom: 1rem;
	}

	.cc-text {
	}

	.cc-yingyang {
		width: 50%;
		display: block;
		position: absolute;
		right: 0%;
		top: 0;
		@include translate(0%,-100%);
		z-index: 1;

		img {
			vertical-align: top;
			display: block;
			position: relative;
			width: 100%;
		}

		&:before {
			content: '';
			position: absolute;
			height: 2px;
			background-color:$white;
			left: 0;
			bottom: -1px;
			right: 0;
			@include border-radii(2px, 0, 0, 0, );
		}
	}
}



#msa-overview,
.id-msa-overview {
	background-color: $black;
	color: $white;
	background-image: url('../images/bg-digital-wave.jpg');
	// background-image: url('images/bg-digital-wave.jpg');
	background-size: cover;

	.msa-overview-swoosh-up {
		display: block;

		img {
			display: block;
			vertical-align: top;
			width: 100%;

			
			@media #{$breakpoint-xs-only} {height: 2rem;}
			@media #{$breakpoint-sm-only} {height: 2rem;}
			@media #{$breakpoint-md-only} {height: 3rem;}
			@media #{$breakpoint-md-up} {height: 4rem;}
		}
	}

	.msa-overview-content {
		padding:4rem 0 8rem;
	}

	.msa-overview-swoosh-down {
		img {
			display: block;
			vertical-align: top;
			width: 100%;

			
			@media #{$breakpoint-xs-only} {height: 2rem;}
			@media #{$breakpoint-sm-only} {height: 2rem;}
			@media #{$breakpoint-md-only} {height: 3rem;}
			@media #{$breakpoint-md-up} {height: 4rem;}
		}
	}
}


#msa-features,
.id-msa-features {
	margin-top: -10rem;
}

.msa-feature {
	display: block;
	background-color:$light-grey;
	@include border-radius(1rem);
	padding:2rem 1rem;
	position: relative;
	text-align: center;

	@media #{$breakpoint-md-up} {
		text-align: left;
		padding:2rem;
	}

	.msa-feature-icon {
		width: 4rem;
		position: relative;
		right: auto;
		top: auto;
		display: inline-block;
		text-align: center;

		@media #{$breakpoint-md-up} {
			display: block;
			position: absolute;
			right: 2rem;
			top: 2rem;
			width: 6rem;
		}

		img {
			width: 100%;
			vertical-align: top;
		}
	}

	.msa-feature-title {
		margin: 1rem 0;
		padding-right: 0rem;

		@media #{$breakpoint-md-up} {
			padding-right: 6.5rem;
			margin-top: 0;
		}
	}

	.msa-feature-text {
		padding-right: 0rem;

		@media #{$breakpoint-md-up} {
			padding-right: 6.5rem;
		}

		p {
			margin-bottom: 0;
		}
	}
}

#cc-overview,
.id-cc-overview {
	background: linear-gradient(0deg, rgba(243,245,248,0) 0%, rgba(243,245,248,1) 100%);

	.cc-overview-video {
		position: relative;

		.cc-overview-image {
			position: relative;
			z-index: 0;

			img {
				width: 100%;
			}
		}

		.cc-overview-link {
			z-index: 1;
			position: absolute;
			left: 50%;
			top: 50%;
			@include translate(-50%,-50%);

			a.btn-default {
				padding:1rem !important;
				font-size: 2rem;
			}
		}
	}

	.cc-overview-swoosh {
		display: block;
		position: relative;
		@include rotate(180deg);
		margin-bottom: 4rem;

		img {
			width: 100%;
			vertical-align: top;
			@media #{$breakpoint-xs-only} {height: 2rem;}
			@media #{$breakpoint-sm-only} {height: 2rem;}
			@media #{$breakpoint-md-only} {height: 3rem;}
			@media #{$breakpoint-md-up} {height: 4rem;}
		}
	}	
	.cc-feature {
		position: relative;

		.cc-feature-icon {
			position: absolute;
			left: 0;
			top: 0;
			span {
				display: inline-block;
				vertical-align: top;
				@include border-radius(2rem);
				background-color: $light-grey;
				font-size: 0;
				padding:0.5rem;

				i {
					display: block;
					vertical-align: top;
					font-size: 2rem;
					line-height: 2rem;
					width: 2rem;
					text-align: center;
				}
			}
		}
		.cc-feature-title {
			margin-left: 4rem;
			h3 {
				font-size:1.125rem;
				line-height: 1.5rem;
				padding:0.75rem 0;
				font-weight: 600;
				@media #{$breakpoint-md-up} {
					font-size:1.25rem;
				}
			}
		}
		.cc-feature-text {
			margin-left: 4rem;
		}
	}
}


#intro,
.id-intro {
	position: relative;

	.intro-text {
		padding:0rem 0 2rem;
		text-align: center;
		position: relative;
		z-index: 1;
		// max-width: 64rem;
		margin:0 auto;

		@media #{$breakpoint-md-up} {
			padding:0rem 0 2rem;
		}

		.intro-title {
			line-height: 150%;

			span {
				color: $green;
			}
		}

		.intro-helper {
			// margin-top: 1rem;
			font-size: 1.0rem;
			line-height: 150%;
			margin:1rem auto;

			@media #{$breakpoint-md-up} {
				max-width: calc((100% / 12) * 8);
			}

			@media #{$breakpoint-md-up} {
				font-size: 1.125rem;
			}
		}
	}
}


.content-block,
a.content-block:link,
a.content-block:visited {
	position: relative;
	display: block;
	color: inherit;
	text-decoration: none;

	.content-block-icon {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		
		span {
			display: inline-block;
			vertical-align: top;
			@include border-radius(2rem);
			background-color: $light-grey;
			font-size: 0;
			padding:0.5rem;

			i {
				display: block;
				vertical-align: top;
				font-size: 1.25rem;
				line-height: 2rem;
				width: 2rem;
				text-align: center;
			}
		}
	}
	.content-block-title {
		margin-left: 4rem;
		display: block;

		h3 {
			font-size:1.125rem;
			line-height: 1.5rem;
			padding:0.75rem 0;
			font-weight: 600;
			@media #{$breakpoint-md-up} {
				font-size:1.25rem;
			}
		}
	}
	.content-block-text {
		margin-left: 4rem;
		padding:0.75rem 0;
		display: block;
	}
}

#support,
.id-support {
	color: $white;
	background-color: $black;
	position:relative;

	.support-image {
		position: absolute;
		top: 0;
		bottom:0;
		left: 0;
		right: 0;
		overflow: hidden;

		img {
			height: 100%;
			
			@media #{$breakpoint-xs-only} {
				width: 100%;
				height: initial;
			}
		}
	}

	.support-content {
		padding:4rem 0 2rem;


		@media #{$breakpoint-xs-only} {
			padding-top:14rem;
		}

		.content-block,
		a.content-block:link,
		a.content-block:visited {

			&:hover {
				color: $green;
			}
			
			.content-block-icon {
				>span {
					background-color: rgba($white,0.1);
				}
			}
		}
	}


	.support-swoosh-top {
		position: relative;
		img {
			display: block;
			vertical-align: top;
			width: 100%;
			
			@media #{$breakpoint-xs-only} {height: 2rem;}
			@media #{$breakpoint-sm-only} {height: 2rem;}
			@media #{$breakpoint-md-only} {height: 3rem;}
			@media #{$breakpoint-md-up} {height: 4rem;}
		}
	}

	.support-swoosh-bottom {
		position: relative;
		img {
			display: block;
			vertical-align: top;
			width: 100%;
			
			@media #{$breakpoint-xs-only} {height: 2rem;}
			@media #{$breakpoint-sm-only} {height: 2rem;}
			@media #{$breakpoint-md-only} {height: 3rem;}
			@media #{$breakpoint-md-up} {height: 4rem;}
		}
	}
}

.max-width-6 {
	margin:0 auto;
	max-width: calc((100% / 12) * 6);
}

.max-width-8 {
	margin:0 auto;
	max-width: calc((100% / 12) * 8);
}

.max-width-10 {
	margin:0 auto;
	max-width: calc((100% / 12) * 10);
}

.search,
.error404 {
	#page-content {
		max-width: 72rem;
		margin:1rem auto;
		padding:0 1rem;
		position: relative;

		.not-found {
			header {
				text-align: left;
				padding-top: 8rem;

				@media #{$breakpoint-md-up} {
					padding-top: 10rem;
				}
			}
		}

		>header {
			text-align: left;
			padding-top: 8rem;

			@media #{$breakpoint-md-up} {
				padding-top: 10rem;
			}
		}

		.entry-title {
			text-align: left;
			padding-top: 0rem;

			@media #{$breakpoint-md-up} {
				padding-top: 0rem;
			}

			a:link, a:visited {
				color: inherit;
			}

			&:before {
				content: '';
				display: none;
			}
		}
	}
}