.btn-default {
	width: auto;
	background-color: transparent;
	position: relative;
	line-height: 1.5rem;
	margin: 0px;
	padding: calc(0.5rem - 2px) calc(1rem - 2px);
	overflow: visible;
	-webkit-appearance:none;
	display: inline-block;
	border: 0px solid;
	cursor: pointer;
	cursor: pointer;
	// @include transition(all .3s ease);
	text-decoration: none;
	text-align: center;
	text-decoration: none;
	color: $black;
	white-space: nowrap;
	font-size: $base-font-size;
	border-style:solid;
	border-width: 2px;
	border-color: currentColor;
	@include border-radius(0.125rem);


	@media #{$breakpoint-xs-only} {
		font-size:$base-font-size-mobile;
	}



	&:hover {
		outline: none;
		text-decoration: none;
		@include transition(all .2s ease);
	}

	&:focus {
		outline: none;
		text-decoration: none;
		@include transition(all .2s ease);
	}

	&:active {
		outline: none;
		text-decoration: none;
		@include transition(all .2s ease);
	}

	&:disabled {
		color: rgba($disabled-gray,1) !important;
		background-color: rgba($disabled-gray,0.2) !important;
		border-color:rgba($disabled-gray,0.2) !important;
		cursor: default !important;
		
		&:hover,
		&:focus {
			box-shadow: 0 0 0 0px rgba($disabled-gray,0.2) !important; 
			border-color: rgba($disabled-gray,0.2) !important;
			background-color: rgba($disabled-gray,0.2) !important;
			color: rgba($disabled-gray,1) !important;
		}
	}

	a:link,
	a:visited {
		color: inherit;
		text-decoration: none;
	}

	&.btn-outline {
		border-width:2px;
		border-style:solid;
		padding:calc(0.5rem - 2px) calc(1.0rem - 2px);

		&:hover,
		&:focus {
			box-shadow: 0 0 0 0.25rem rgba($black,0.1); 
		}
	}

	&.btn-green {
		background-color: $green;
		color: $white;
		border:0px solid;
		padding: calc(0.5rem - 0px) calc(1rem - 0px);

		&:hover,
		&:focus {
			background-color: darken($green,2%);
			color: $white;
			box-shadow: 0 0 0 0.25rem rgba($green,0.2); 
		}
	}

	&.btn-green-outline {
		border-color: $green;
		color: $green;
		@include transition(box-shadow .3s ease, background .3s ease);

		&:hover,
		&:focus {
			// box-shadow: 0 0 0 0.25rem rgba($green,0.2); 
			color: $black;
			background-color: $green;
		}
	}

	&.btn-black-outline {
		border-color: $black;
		color: $black;
		@include transition(box-shadow .3s ease, background .3s ease);

		&:hover,
		&:focus {
			// box-shadow: 0 0 0 0.25rem rgba($black,0.2); 
			color: $white;
			background-color: $black;
		}
	}

	&.btn-white-outline {
		border-color: $white;
		color: $white;
		@include transition(box-shadow .3s ease, background .3s ease);

		&:hover,
		&:focus {
			box-shadow: 0 0 0 0.25rem rgba($white,0.2); 
		}
	}


	&.btn-icon-only {
		padding: 0.5rem;
		// margin:0.125rem;
		@include border-radius(10rem);

		&.btn-no-border {
			padding: 0.5rem;
		}

		&.btn-large-icon {
			padding:0.5;

			&:hover, &:focus {
				// background-color: rgba($black,0);
			}
			.btn-icon {
				span, i, em {
					font-size: 1.5rem;
				}
			}
		}

		.btn-text {
			font-size: 0;
			position: absolute;
		}

		.btn-icon {
			span,
			i, em {
				font-size: inherit;
				display: block;
				font-size: 1.0rem;
				line-height: 1.5rem;
				text-align: center;
				padding:0 0.25rem;
				vertical-align: top;
				min-width: 1.5rem;
			}
		}

		&:hover, &:focus {
			// background-color: rgba($black,0.1);
		}
	}

	// &.btn-link {
	// 	color: $green;

	// 	.btn-text {
	// 		text-decoration: none;
	// 	}

	// 	&:hover, &:focus {
	// 		.btn-text {
	// 			text-decoration: underline;
	// 		}
	// 	}
	// }



	&.btn-link {
		background-color: transparent;
		color: $green;
		border:0px solid;
		padding: 0.25rem 0;

		.btn-text {
			text-decoration: underline;
		}

		&:hover, &:focus {
			.btn-text {
				text-decoration: none;
			}
		}
	}



	&.btn-no-border {
		border:0;
		padding: 0.5rem 1rem;
	}

	&.btn-no-horizontal-padding {
		padding-left:0;
		padding-right:0;
	}

	&.btn-no-padding {
		padding:0;
	}

	&.btn-small {
		padding:0.25rem 0.5rem;
	}

	&.btn-form {
		padding:0.5rem 1rem;
	}


	&.btn-full-width {
		width: 100%;
		text-align: center;
	}

	&.btn-input {
		padding: calc(0.5rem - 1px) 0.5rem;
		border:1px solid $base-input-border;
		background-color: $base-input-background;

		&:hover,
		&:focus {
			border:1px solid $base-input-border-hover;
			box-shadow:0 0 0px 2px rgba($base-input-border-hover,0.1);

		}
		
		.btn-text {
			font-weight: 400;
		}
	}


	.btn-icon {
		position: relative;
		pointer-events: none;
		display: inline-block;
		vertical-align: top;
		color: inherit;
		line-height: 1.5rem;

		span,
		i, em {
			font-size: inherit;
			display: block;
			font-size: 1.0rem;
			line-height: 1.5rem;
			text-align: center;
			vertical-align: top;
		}
	}

	.btn-text {
		line-height: 1.5rem;
		display: inline-block;
		font-weight: 400;

		strong {
			font-weight: bold;
		}
	}
	.btn-icon-helper {
		position: relative;
		pointer-events: none;
		display: inline-block;
		vertical-align: top;
		color: inherit;
		line-height: 1.5rem;

		span,
		i, em {
			font-size: inherit;
			display: block;
			font-size: 1.0rem;
			line-height: 1.5rem;
			@media #{$breakpoint-xs-only} {
				font-size:$base-font-size-mobile;
			}
		}
	}



	&.btn-icon-left {
		.btn-icon {
			&+.btn-text {
				margin-left: 0.5rem;
			}
		}
	}

	&.btn-icon-right {
		.btn-text {
			&+.btn-icon {
				margin-left: 0.5rem;
			}
		}
	}
	
}