.form-row {
	margin-bottom: 1rem;

	&.no-margin {
		margin-bottom: 0;
	}

	.form-label {
		font-weight: 500;
		line-height: 1.5rem;
		padding:0.25rem 0;

		label {
			display: block;
		}
	}

	.form-input {
		position: relative;
	}

	&.responsive {
		@media #{$breakpoint-xs-only} {
			display: flex;

			>.form-label {
				line-height: 1.5rem;
				padding:0.5rem 0.5rem 0.5rem 0rem;
				
				@include box-sizing(border-box);
				flex-basis: 40%;
    			max-width: 40%;
			}

			>.form-input {
				
				@include box-sizing(border-box);
				flex-basis: 60%;
    			max-width: 60%;
    		}
		}
	}

	&.inline {
		display: flex;

		>.form-label {
			line-height: 1.5rem;
			padding:0.25rem 0.5rem 0.25rem 0rem;
		}

		>.form-input {}
	}

	&.hidden-label {
		.form-label {
			border: 0; 
			clip: rect(0 0 0 0); 
			clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
			-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
			height: 1px; 
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			white-space: nowrap;
		}
	}
}


fieldset.form-row-faux {
	margin-bottom: 1rem;

	&.no-margin {
		margin-bottom: 0;
	}

	legend {
		font-weight: 500;
		line-height: 1.5rem;
		margin:0.25rem 0;
	}
}

.form-label-faux {
	font-weight: 500;
	line-height: 1.5rem;
	padding:0.25rem 0;


	&.normal {
		font-weight: 400;
	}
}

.form-input-faux {
	line-height: 1.5rem;
	padding:0.25rem 0;
}


.float-right {
	float: right;
}
.float-left {
	float: left;
}

.input-icon {
	position: absolute;
	left:0.5rem;
	top: 0.5rem;
	z-index: 1;
	pointer-events: none;
	line-height: 1.5rem;
	width: 1.5rem;
	text-align: center;

	&.offset {
		top: 0.75rem;
		left: 1rem;
	}

	em, i {
		line-height:1.5rem;
		display: block;
		vertical-align: top;
	}

	+ input,
	+ select,
	+ textarea,
	+ .inputbox {
		padding-left:2.25rem !important;
		font-weight: 400 !important;
	}
}


.inputbox-faux {
	font-weight: 500;
	line-height: 1.5rem;
	padding:0.25rem 0;

	&.large {
		font-size: 1.25rem;
		line-height: 1.5rem;
		padding:0.5rem 0;


		@media #{$breakpoint-md-up} {
			font-size: 1.25rem;
			line-height: 1.5rem;
			padding:0.5rem 0;
		}
	}
}

.form-helper {
	display: block;
	line-height:1.25rem;
	padding:0.375rem 0;
	color: lighten($dark-grey,0.1);
	font-size:0.875rem
}

.mandatory {
	color: red;
}

.output-value {
	line-height: 150%;
}


.data-label,
.data-content {
	line-height: 150%;
}

.data-value {
	font-weight: bold;
	line-height: 150%;
}

