input.inputbox,
select.inputbox {
	border:0.0625rem solid $base-input-border;
	color: $base-input-color;
	background-color: $base-input-background;
	@include border-radius(0.25rem);
	line-height: 1.5rem;
	padding:calc(0.5rem - 0.0625rem) 0.5rem;
	-webkit-appearance:none;
	-moz-appearance: none;
	-moz-background-size: 0% auto;
	text-indent: 0.01px;
	text-overflow: '';
	@include box-sizing(border-box);
	outline:none;
	width: 100%;
	margin:0;

	&:hover,
	&:focus {
		border:0.0625rem solid $base-input-border-hover;
		box-shadow:0 0 0px 2px rgba($base-input-border-hover,0.1);

	}

	&[readonly] {
		border:0.0625rem solid transparent;
		color: $base-input-color;
		box-shadow:0 0 0px 0px rgba($base-input-border-hover,0.1);
		padding-left:0;

		&.datepicker {
			border:0.0625rem solid $base-input-border;
			padding:calc(0.5rem - 0.0625rem) 0.5rem;
		}
	}

	&[disabled] {
		background-color: lighten($disabled-gray,15%);
		border:0.0625rem solid rgba($disabled-gray,100%);
		color: darken($disabled-gray,40%);
		cursor: default;

		&:hover,
		&:focus {
			border:0.0625rem solid lighten($disabled-gray,50%);
			box-shadow:0 0 0px 0px rgba($base-input-border-hover,0.1);
		}
	}

	&.no-border {
		border:0;
		padding:calc(0.55rem - 0px) 0rem;

		&.inputbox-small {
			padding:calc(0.5rem - 0px) 0rem;
		}

		&:hover,
		&:focus {
			box-shadow: none;
		}
	}


	&:hover,
	&:focus {

		&[readonly] {
		}

		&[readonly][disabled] {
		}
	}

	&.input-width-xs {
		width: 4em;
	}

	&.input-width-sm {
		width: 8em;
	}

	&.input-width-lg {
		width: 12em;
	}

	&.input-width-xl {
		width: 16em;
	}


	&.large {
		font-weight: 400;
		font-size: 1.25rem;
		padding:calc(0.5rem - 0.0625rem) 0.5rem;
	}
}



input[type='date'] {
	-webkit-appearance: none;
}

input[type='number'] {
	-webkit-appearance: none;
}

input[type='time'] {
	-webkit-appearance: none;
	padding:calc(0.5rem - 0.0625rem) 0.5rem calc(0.5rem - 0.0625rem) 0.5rem;
}


select.inputbox {
	line-height:1.5rem;
	margin:0;
	padding:calc(0.5rem - 0.0625rem) 2rem calc(0.5rem - 0.0625rem) 0.5rem;
	background: $base-input-background url("../images/select_dropdown.png") no-repeat;
	@include image-2x("../images/select_dropdown@2x.png", 20px, 20px);
	background-position: right center;
	background-repeat:no-repeat;
	-webkit-padding-end:2rem;
	-moz-padding-end:2rem;
	-moz-background-size: 0% auto;
	text-indent: 0.01px;
	text-overflow: '';
	// padding-right: 2rem\9;
	cursor:pointer;

	&.inputbox-alt {
		border:0px solid !important;
		background-color: rgba($black,0.05);
		padding:0.5rem 1rem;
		-webkit-padding-end:2rem;
		-moz-padding-end:2rem;

		&:hover,
		&:focus {
			border:0px solid $base-input-border-hover;
			box-shadow:0 0 0px 2px rgba($base-input-border-hover,0.1);
		}
	}

	&.no-border {
		border:0;
		padding:calc(0.75rem - 0px) 0rem;
		-webkit-padding-end:2rem;
		-moz-padding-end:2rem;
		font-weight: 400;

		&.inputbox-small {
			padding:calc(0.5rem - 0px) 0rem;
			-webkit-padding-end:2rem;
			-moz-padding-end:2rem;
		}
	}

	&.no-dropdown-icon {
		background-image:none !important;
		-webkit-padding-end:0.5rem;
		-moz-padding-end:0.5rem;
	}

	&.no-bg {
		background-color:transparent;

		&:hover,
		&:focus {
			border:0px solid $base-input-border-hover;
			box-shadow:0 0 0px 0px rgba($base-input-border-hover,0.1);
		}
	}
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select::-ms-expand {
	display: none;
	text-indent: 0.01px;
	text-overflow: '';
}

select::-moz-focus-inner  {
	padding: 0;
	border: 0;
	margin:0px;
	background-image:none !important;
}


textarea.inputbox {
	border:0.0625rem solid $base-input-border;
	color: $base-input-color;
	background-color: $base-input-background;
	width: 100%;
	padding:calc(0.5rem - 0.0625rem) 0.5rem;
	@include border-radius(0.25rem);
	min-height: 10rem;

	&:hover,
	&:focus {
		border:0.0625rem solid $base-input-border-hover;
		outline:2px solid rgba($base-input-border-hover,0.1);
	}
}


// Error State

.status-error {
	.inputbox {
		border-color: $red !important;
	}
}


// Checkbox
label.form-checkbox-label {
	display: block;
	position:relative;
	cursor: pointer;

	input[type="checkbox"]:checked,
	input[type="checkbox"]:not(:checked) {
		position:absolute;
		left: -9999px;

		&:hover, &:focus {
			+ .form-checkbox-label-text {

				&:before {
					border-color: $base-input-border-hover;
					box-shadow: 0 0 0 2px rgba($base-input-border-hover,0.1);
				}
			}
		}
	}


	input[type="checkbox"]:disabled:checked,
	input[type="checkbox"]:disabled:not(:checked) {
		position:absolute;
		left: -9999px;

		&:hover,
		&:focus {
			+ .form-checkbox-label-text {

				&:before {
					box-shadow: 0 0 0 0px rgba($green,0.2);
				}
			}
		}
	}

	.form-checkbox-label-text {
		display: block;
		line-height: 1.5rem;
		position:relative;
		padding:0.25rem 0 0.25rem 2rem;
		font-size: $base-font-size;

		@media #{$breakpoint-xs-only} {
			font-size:$base-font-size-mobile;
		}

		&:before {
			content: '';
			height: 1.25rem;
			width: 1.25rem;
			@include border-radius(0.25rem);
			position:absolute;
			left: 0;
			top: 0.375rem;
			z-index: 0;
			border:1px solid $base-input-border;
			background-color: $base-input-background;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0.625rem;
			left: 0.45rem;
			width: 0.375rem;
			height: 0.625rem;
			border: solid $white;
			border-width: 0 0.0625rem 0.0625rem 0;
			transform: rotate(45deg);
		}
	}

	&.checkbox-table {
		vertical-align: top;
		display: inline-block;
		min-width: 1.25rem;
		min-height:1.5rem;
		@include box-sizing(border-box);

		.form-checkbox-label-text {
			padding:0;
			padding-left:0rem;
			line-height: 1.5rem;
			text-align: left;

			&:before {
				top: 0.0625rem;
			}

			&:after {
				top: 0.4rem;
			}
		}
	}


	input[type="checkbox"]:checked + .form-checkbox-label-text {
		&:before {
			background-color: $green;
			border-color:$green;
		}
		&:after {
		}
	}

	input[type="checkbox"]:not(:checked) + .form-checkbox-label-text {
		&:before {
		}
		&:after {
			border-color:transparent;
		}
	}

	input[type="checkbox"]:disabled:checked + .form-checkbox-label-text {
		&:before {
			border-color:rgba($disabled-gray,50%);
			background-color: rgba($disabled-gray,10%);
		}
		&:after {
			border-color: rgba($disabled-gray,50%);
		}
	}
	input[type="checkbox"]:disabled:not(:checked) + .form-checkbox-label-text {
		&:before {
			border-color:rgba($disabled-gray,50%);
			background-color: rgba($disabled-gray,10%);
		}
		&:after {
		}
	}
}


// Radio
label.form-radio-label {
	display: block;
	position:relative;
	cursor: pointer;

	input[type="radio"]:checked,
	input[type="radio"]:not(:checked) {
		position:absolute;
		left: -9999px;

		&:hover, &:focus {
			+ .form-radio-label-text {

				&:before {
					border-color: $base-input-border-hover;
					box-shadow: 0 0 0 2px rgba($base-input-border-hover,0.1);
				}
			}
		}
	}


	input[type="radio"]:disabled:checked,
	input[type="radio"]:disabled:not(:checked) {
		position:absolute;
		left: -9999px;

		&:hover,
		&:focus {
			+ .form-radio-label-text {

				&:before {
					box-shadow: 0 0 0 0px rgba($green,0.2);
				}
			}
		}
	}

	.form-radio-label-text {
		display: block;
		line-height: 1.5rem;
		position:relative;
		padding:0.25rem 0 0.25rem 2rem;
		font-size: $base-font-size;

		@media #{$breakpoint-xs-only} {
			font-size:$base-font-size-mobile;
		}

		&:before {
			content: '';
			height: 1.25rem;
			width: 1.25rem;
			@include border-radius(4rem);
			position:absolute;
			left: 0;
			top: 0.375rem;
			z-index: 0;
			border:1px solid $base-input-border;
			background-color: $base-input-background;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0.625rem;
			left: 0.25rem;
			width: 0.75rem;
			height: 0.75rem;
			@include border-radius(4rem);
		}
	}


	input[type="radio"]:checked + .form-radio-label-text {
		&:before {
			border-color:$green;
		}
		&:after {
			background-color: $green;
		}
	}

	input[type="radio"]:not(:checked) + .form-radio-label-text {
		&:before {
		}
		&:after {

		}
	}

	input[type="radio"]:disabled:checked + .form-radio-label-text {
		&:before {
			border-color:rgba($disabled-gray,50%);
			background-color: rgba($disabled-gray,10%);
		}
		&:after {
			background-color: rgba($disabled-gray,50%);
		}
	}
	input[type="radio"]:disabled:not(:checked) + .form-radio-label-text {
		&:before {
			border-color:rgba($disabled-gray,50%);
			background-color: rgba($disabled-gray,10%);
		}
		&:after {
		}
	}
}

// Toggle Button
label.form-toggle-label {
	display: block;
	position:relative;
	cursor: pointer;

	input[type="checkbox"]:checked,
	input[type="checkbox"]:not(:checked) {
		position:absolute;
		left: -9999px;

		&:hover, &:focus {
			+ .form-toggle-label-text {

				&:after {
					box-shadow: 0 0 0 5px rgba($green,0.2);
				}
			}
		}
	}


	input[type="checkbox"]:disabled:checked,
	input[type="checkbox"]:disabled:not(:checked) {
		position:absolute;
		left: -9999px;

		&:hover, &:focus {
			+ .form-toggle-label-text {

				&:after {
					box-shadow: 0 0 0 0px rgba($green,0.2);
				}
			}
		}
	}

	.form-toggle-label-text {
		display: block;
		line-height: 1.0rem;
		position:relative;
		padding:0.5rem 0 0.5rem 3rem;
		font-size: $base-font-size;

		@media #{$breakpoint-xs-only} {
			font-size:$base-font-size-mobile;
		}

		&:before {
			content: '';
			height: 1rem;
			width: 2.0rem;
			@include border-radius(1rem);
			position:absolute;
			left: 0;
			top: 0.5rem;
			z-index: 0;
		}

		&:after {
			content: '';
			position:absolute;
			top: 0.375rem;
			height: 1.25rem;
			width: 1.25rem;
			@include border-radius(1rem);
			z-index: 1;
			@include transition(left .3s ease);
		}
	}


	input[type="checkbox"]:checked + .form-toggle-label-text {
		&:before {
			background:rgba($green,0.2);
		}
		&:after {
			background-color: $green;
			left: 0.75rem;
		}
	}

	input[type="checkbox"]:not(:checked) + .form-toggle-label-text {
		&:before {
			background:rgba($black,0.2);
		}
		&:after {
			background-color: $white;
			box-shadow: 0 0 4px 1px rgba($black,0.2);
			left: 0rem;
		}
	}
	input[type="checkbox"]:disabled:checked + .form-toggle-label-text {
		&:before {
			background:rgba($disabled-gray,0.2);
		}
		&:after {
			background-color: lighten($disabled-gray,30%);
			left: 0.75rem;
		}
	}
	input[type="checkbox"]:disabled:not(:checked) + .form-toggle-label-text {
		&:before {
			background:rgba($disabled-gray,0.2);
		}
		&:after {
			box-shadow: 0 0 0px 0px rgba($black,0.2);
			background-color: lighten($disabled-gray,40%);
			left: 0rem;
		}
	}
}









// IE 11 Overrides
@media all and (-ms-high-contrast:none) {
 	input.inputbox {
 		height: 32px;
 	} /* IE10 */
 	*::-ms-backdrop,
 	input.inputbox { height:32px } /* IE11 */


 	select.inputbox {
 		height: 32px;
 	} /* IE10 */
 	*::-ms-backdrop,
 	select.inputbox { height:32px } /* IE11 */


 	textarea.inputbox[readonly] {
		overflow: auto; -ms-overflow-style: none;
	}
	*::-ms-backdrop,
 	textarea.inputbox[readonly] { overflow: auto; -ms-overflow-style: none} /* IE11 */
}


