.margin-bottom-xs { margin-bottom: 0.5rem;}
.margin-bottom-sm { margin-bottom: 1.0rem;}
.margin-bottom-md { margin-bottom: 1.25rem;}
.margin-bottom-lg { margin-bottom: 1.5rem;}
.margin-bottom-xl { margin-bottom: 2.0rem;}

.margin-top-xs { margin-top: 0.5rem;}
.margin-top-sm { margin-top: 1.0rem;}
.margin-top-md { margin-top: 1.25rem;}
.margin-top-lg { margin-top: 1.5rem;}
.margin-top-xl { margin-top: 2.0rem;}

.margin-left-xs { margin-left: 0.5rem;}
.margin-left-sm { margin-left: 1.0rem;}
.margin-left-md { margin-left: 1.25rem;}
.margin-left-lg { margin-left: 1.5rem;}
.margin-left-xl { margin-left: 2.0rem;}

.margin-right-xs { margin-right: 0.5rem;}
.margin-right-sm { margin-right: 1.0rem;}
.margin-right-md { margin-right: 1.25rem;}
.margin-right-lg { margin-right: 1.5rem;}
.margin-right-xl { margin-right: 2.0rem;}

.margin-all-xs { margin: 0.5rem;}
.margin-all-sm { margin: 1.0rem;}
.margin-all-md { margin: 1.25rem;}
.margin-all-lg { margin: 1.5rem;}
.margin-all-xl { margin: 2.0rem;}

.margin-vertical-xs { margin-top: 0.5rem;  margin-bottom: 0.5rem;}
.margin-vertical-sm { margin-top: 1.0rem;  margin-bottom: 1.0rem;}
.margin-vertical-md { margin-top: 1.25rem;  margin-bottom: 1.25rem;}
.margin-vertical-lg { margin-top: 1.5rem;  margin-bottom: 1.5rem;}
.margin-vertical-xl { margin-top: 2.0rem;  margin-bottom: 2.0rem;}

.margin-horizontal-xs { margin-left: 0.5rem; margin-right: 0.5rem;}
.margin-horizontal-sm { margin-left: 1.0rem; margin-right: 1.0rem;}
.margin-horizontal-md { margin-left: 1.25rem; margin-right: 1.25rem;}
.margin-horizontal-lg { margin-left: 1.5rem; margin-right: 1.5rem;}
.margin-horizontal-xl { margin-left: 2.0rem; margin-right: 2.0rem;}

.margin-left-auto {margin-left: auto;}
.margin-right-auto {margin-right: auto;}
.margin-top-auto {margin-top: auto;}
.margin-bottom-auto {margin-bottom: auto;}


.padding-bottom-xs { padding-bottom: 0.5rem;}
.padding-bottom-sm { padding-bottom: 1.0rem;}
.padding-bottom-md { padding-bottom: 1.25rem;}
.padding-bottom-lg { padding-bottom: 1.5rem;}
.padding-bottom-xl { padding-bottom: 2.0rem;}

.padding-top-xs { padding-top: 0.5rem;}
.padding-top-sm { padding-top: 1.0rem;}
.padding-top-md { padding-top: 1.25rem;}
.padding-top-lg { padding-top: 1.5rem;}
.padding-top-xl { padding-top: 2.0rem;}

.padding-left-xs { padding-left: 0.5rem;}
.padding-left-sm { padding-left: 1.0rem;}
.padding-left-md { padding-left: 1.25rem;}
.padding-left-lg { padding-left: 1.5rem;}
.padding-left-xl { padding-left: 2.0rem;}

.padding-right-xs { padding-right: 0.5rem;}
.padding-right-sm { padding-right: 1.0rem;}
.padding-right-md { padding-right: 1.25rem;}
.padding-right-lg { padding-right: 1.5rem;}
.padding-right-xl { padding-right: 2.0rem;}

.padding-all-xs { padding: 0.5rem;}
.padding-all-sm { padding: 1.0rem;}
.padding-all-md { padding: 1.25rem;}
.padding-all-lg { padding: 1.5rem;}
.padding-all-xl { padding: 2.0rem;}

.padding-vertical-xs { padding-top: 0.5rem;  padding-bottom: 0.5rem;}
.padding-vertical-sm { padding-top: 1.0rem;  padding-bottom: 1.0rem;}
.padding-vertical-md { padding-top: 1.25rem;  padding-bottom: 1.25rem;}
.padding-vertical-lg { padding-top: 1.5rem;  padding-bottom: 1.5rem;}
.padding-vertical-xl { padding-top: 2.0rem;  padding-bottom: 2.0rem;}

.padding-horizontal-xs { padding-left: 0.5rem; padding-right: 0.5rem;}
.padding-horizontal-sm { padding-left: 1.0rem; padding-right: 1.0rem;}
.padding-horizontal-md { padding-left: 1.25rem; padding-right: 1.25rem;}
.padding-horizontal-lg { padding-left: 1.5rem; padding-right: 1.5rem;}
.padding-horizontal-xl { padding-left: 2.0rem; padding-right: 2.0rem;}